@import "/src/styles/variables.css";

/* DropwDown Button */
.read-more-bt {
    background-color: var(--light-blue) ;
    color: white;  
    border-radius: 10px;
    border-color: transparent;
    padding: 5px 10px;
}

/* Hover */
.read-more-bt:hover {
    background-color: var(--dark-blue);
}
