@import "/src/styles/variables.css";

/* Typing class */
.typing {
  font-size: 24px;
  white-space: nowrap; /* All the text appears in one line */
  overflow: hidden; /* Hide unwritten text */
  border-right: 3px solid var(--light-blue); /* Cursor */
  width: 0; /* First, the text is not visible */
  animation: typing 5s steps(40) 1s forwards, blink 0.75s step-end infinite; /* Typing and blink (cursor) animations */
  }
  
  /*-- ANIMATIONS--*/
  /* Typing Animation */
  @keyframes typing {
    0% {
      width: 0; /* First, the text is not visible */
    }
    100% {
      width: 100%; /* Finally, the text is completly visible */
    }
  }
  
  /* Blink (cursor) */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: transparent;
    }
  }