@import "/src/styles/variables.css";

.about-us-section {
    text-align: center;
    animation: appear 2s ease-in;
}

strong, .about-link {
    color: var(--light-blue);
}

/* Hover */
.about-link:hover {
    color: var(--dark-blue);
}

/* ANIMATIONS */
@keyframes appear {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}