@import "/src/styles/variables.css";

/*--TITLE AND SUBTITLE--*/
.title span {
  color: #535353;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--light-blue);
  font-weight: 300;
}

.brand-name {
  color: var(--light-blue);
  font-weight: bold;
  text-shadow: 2px 2px 4px #cacaca;
}

/*--VIDEO--*/
.video {
  width: 300px;
  border-radius: 10px;
}

/*--SOCIAL LINKS--*/
.social-links {
  color: var(--light-blue);
  font-size: 1.5rem;
}


/*--MEDIA QUERIES--*/
@media (max-width: 900px) {
  .video {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .content {
    padding: 20px;
  }
}